/*--------------- Maroute StyleSheet ------------------*/

/*-------- Home Page Header ----------*/
#headercontent{
	margin:0 auto;
	width:900px;
}



#maroutelogo{
	margin:0px  5px;
	height:40px;
	float: left;	
}

#facebooklogo{
	float :right;
	height:30px;
	margin:5px 10px;
}

#googlelogo{
	float :right;
	height:30px;
	margin:5px 10px;
}

#contactlogo{
	float :right;
	height:30px;
	margin:5px 10px;
}

/*-------- Home Page Content --------*/

#homecontent{
	background:black;
	background-color:rgba(0,0,0,0.6);
	margin:0px auto;
	width:380px;
	border-radius:20%;
}

/*
#rechercheDisplayForm  div{
	width:100%;
	height: 80px;
	margin:0 auto;
	padding: 20px 0px;
}

#rechercheDisplayForm label{
	
	font-family:Typola;
	font-size:20px;
	color:white;
	text-align:center;
}
*/
#voyagesSearchForm  div{
	width:100%;
	height: 90px;
	margin:0 auto;
	padding: 20px 0px;
	text-align:center;
}

#voyagesSearchForm label{
	
	font-family:typolax,amersnx, Sans,verdana;
	font-size:30px;
	color:white;
	text-align:center;
	display:block;
}

#departinput{
	height:30px;
	width:200px;
	//padding: 0 0 0 50px;
	margin: 0px 0px 0px 5px;
	font-size:20px;
	font-family:typolax,amersnx, Sans,verdana;
}


#destinput{
	height:30px;
	width:200px;
	margin: 0px 0px 0px 5px;
	font-size:20px;
	font-family:typolax,amersnx, Sans,verdana;
}


/*-------------------------------*/
/*     Search Page Content       */
/*-------------------------------*/

#searchheader{
	padding: 90px 0px 0px 0px;
	width:1000px;
	background: url('../webroot/img/searchback.png');
	background-color: white!important;
	//background-size: cover;
	background-repeat: no-repeat;
	color: white;
}


#postscontainer{
    clear: both;
    margin-left: 60px;
    width:100%;
}

.postcontainer {
	background: white;
    box-shadow: 0px 1px 5px #999; 
    //border-radius: 6px; 
    width:290px;	
    margin: 5px 0px;
    float:left;


}

.postcontainer:hover{
	background-color:rgba(180,180,180,0.2);
}

#postdepdes{
	background-color:rgba(5,5,5,0.9);
	color:rgb(242,220,8);
	margin-bottom:40px;
	font-size:30px;
	font-family:ringerx;
	
}

#posttype{
	//background-color:rgb(235,216,95);
	background-color:rgb(220,220,220);
	//background-image:url('../webroot/img/typebg.png');
	//border-radius: 6px 6px 0px 0px ; 
	height:27px;
	font-size:18px;
	padding-top:-5px;
	font-family:Urdu Typesetting, Amerika Sans, sans-serif;
	font-weight: bold;
	margin-top:5px;
}

#postlogo img{
	width:200px;
	height:auto;
}

#postsociete{
	background-color:rgb(50,50,50);
	//border-radius: 0px 0px 6px 6px ; 
	height:30px;
	font-size:20px;
	font-family:ringerx, sans-serif;
	font-weight: bold;
	color: white;
}

#posttarif{
	text-align:center;
	font-size: 20px;
	font-family: amersnx;
}
#posttarif font{
	text-align:center;
	font-size: 15px;
	font-family: amersnx;
}

#postmessage {
	text-align:justify;
	font-size: 15px;
	padding:10px;
	font-family: amersnx;
}

#postmessage font{
	color:#C43C35;
}

.postcontainer td{
	text-align:center;
	font-size: 20px;
	font-family: ringerx;
	font-weight: bold;
}

.postcontainer td font{
	//background-color: rgb(235,216,95);
	border: 2px solid rgb(235,216,95);
	padding:0px 30px;
	border-radius:20%;
	font-family: amersnx;
}

.postcontainer img{
	height:30px;
}

/*-------------------------------*/
/*          Search bar           */
/*-------------------------------*/

#searchcontainer div{
	margin:0px;
	height:auto;
	padding:10px;
}

#searchcontainer  label{
	display:block;
	color:rgb(50,50,50);
	margin:0px;
	font-size:20px;
	font-family: ringerx;
}

#searchcontainer select{
	margin:0px;
}


/*------- Footer ---------*/
#maroutefooter{
	height:50px;
}







