<div class="societes form">
<?php echo $this->Form->create('Societe'); ?>
	<fieldset>
		<legend><?php echo __('Edit Societe'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('nsociete');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Menu'); ?></h3>
	<ul>

		<li><?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('Societe.id')), null, __('Are you sure you want to delete # %s?', $this->Form->value('Societe.id'))); ?></li>
		<li><?php echo $this->Html->link(__('List Societes'), array('action' => 'index')); ?></li>
	</ul>
</div>
